{% extends "base.html" %}
{% block title %}
OmChat - Say whatever you want!
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}omchat/css/site.less.css" type="text/css" charset="utf-8">
{% endblock %}

{% block js %}
    <script>
    {% autoescape off %}
        var omchat_initData = {{ init_data }};
        var omchat_cid = '{{ cid }}';
        var omchat_userIp = '{{ user_ip }}';
    {% endautoescape %}
    </script>

{% if not closure_compiled %}
    <script src="{{ STATIC_URL}}omchat/js/goog-closure/library/goog/base.js"></script>
    <script src="{{ STATIC_URL}}omchat/js/omchat/_build/ep-deps.js"></script>
    <script src="{{ STATIC_URL}}omchat/js/omchat/ep.js"></script>
    <script>
        goog.require('omchat.ep');
        omchat.ep.EntryPoint.main();
    </script>
{% else %}
    <script src="{{ STATIC_URL}}omchat/js/omchat/_build/ep-compiled.js"></script>
    <script>
        omchat.ep.EntryPoint.main();
    </script>
{% endif %}

{% endblock %}

{% block body %}

<div id="header">
    <h2>OmChat</h2>
</div>

<div id="chats">
</div>

<div id="mouth">
    <div><input type="text" class="username"/></div>
    <textarea class="texts"></textarea>
    <div class="status">.</div>
    <button class="say">Say!</button>
</div>

<div id="footer">
    <span>Source code:
        <a href="https://github.com/overminder/ihome-hacks">Github</a>
    </span>
</div>

{% endblock %}

