html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
input[type=text],input[type=email],input[type=password],textarea{width:160px;border:1px solid #DDDDDD;padding:3px 4px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;box-shadow:0 1px 3px #DDD inset;-moz-box-shadow:0 1px 3px #DDD inset;-webkit-box-shadow:0 1px 3px #DDD inset;}
input[type=text],input[type=email],input[type=password]{height:16px;}
textarea{width:360px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.goog-tooltip{background:infobackground;color:infotext;border:1px solid infotext;padding:1px 2px;font:menu;}
body{font-size:14px;font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;width:612px;margin:auto;}
#header h2{text-align:center;font-size:200%;margin:20px;}
#chats{height:350px;border-color:#ccc;border-width:1px;border-style:solid;overflow:scroll;overflow-x:hidden;}#chats>.omchat-chatlist{padding:10px 0px;}#chats>.omchat-chatlist>.omchat-chatlist-item{padding:10px 20px;cursor:default;}#chats>.omchat-chatlist>.omchat-chatlist-item .author{font-size:115%;font-style:italic;}
#chats>.omchat-chatlist>.omchat-chatlist-item .content{padding:2px 8px;}
#chats>.omchat-chatlist>.omchat-chatlist-item .pub-time{font-size:75%;color:#aaaaaa;}
#chats>.omchat-chatlist>.omchat-chatlist-item .button-container{text-align:right;visibility:hidden;}#chats>.omchat-chatlist>.omchat-chatlist-item .button-container .filter-by-author{font-size:75%;margin-left:20px;color:#888888;}
#chats>.omchat-chatlist>.omchat-chatlist-item-hover{background-color:#eeeeee;}#chats>.omchat-chatlist>.omchat-chatlist-item-hover .button-container{visibility:visible;}
#chats>.omchat-chatlist>.omchat-chatlist-item-active{background-color:#dddddd;}
#mouth{margin:10px auto;width:430px;}#mouth input{width:120px;height:16px;}
#mouth textarea{margin-top:6px;height:90px;width:430px;resize:none;}
#mouth .status{visibility:hidden;margin-top:6px;height:30px;margin-bottom:-30px;color:#999;}
#mouth .say{margin-left:310px;width:120px;height:24px;}
#footer{clear:both;text-align:right;margin-top:90px;margin-bottom:10px;}#footer span{display:block;}
