<span class="author">
    <a class="local-nav" href="#!/author/<%= model.get('author') %>">
        <%= model.get('author') %>:
    </a>
</span>

<div class="content">
    <%= model.get('content') %>
</div>


