{namespace omchat.templates}                                                   

/**
 * @param author The name of the author.
 * @param content The content of the chat, can contain newlines.
 * @param howLongAgo Human-readable representation of the publish time.
 */
{template .chatlistItem}
    <div class="author"> {$author}: </div>

    <div class="content">
        {$content|noAutoescape|changeNewlineToBr|escapeHtml}
    </div>

    <span class="pub-time"> {$howLongAgo} </span>

    <span class="button-container">
        <a href="#!/author/{$author}" class="filter-by-author">
           Filter by {$author}
        </a>
    </span>
{/template}


/**
 * No param.
 */
{template .createMouth}
    <div><input type="text" class="username"/></div>
    <textarea class="texts"></textarea>
    <div class="status">.</div>
    <button class="say">Say!</button>
{/template}

